# @name@

## URL

> http://xxx.xxxx.xxx.xxx/@url@

## Request

### Class

```
@requestClassName@
```

### Key

```
@request@
```

@requestInfo@

## Response

### Class

```
@responseClassName@
```

### Key

```
@response@
```

@responseInfo@

<br>

